exportPattern("^[^\\.]") # Exports all functions not beginning with a period.

S3method(print, fixedMetaAnalMD)
S3method(print, fixedMetaAnalRROR)
S3method(print, n4incidence)
S3method(print, n4means)
S3method(print, n4meansEB)
S3method(print, n4meansMeta)
S3method(print, n4props)
S3method(print, n4propsEB)
S3method(print, n4propsMeta)

S3method(summary, fixedMetaAnalMD)
S3method(summary, fixedMetaAnalRROR)
S3method(summary, n4incidence)
S3method(summary, n4means)
S3method(summary, n4meansEB)
S3method(summary, n4meansMeta)
S3method(summary, n4props)
S3method(summary, n4propsEB)
S3method(summary, n4propsMeta)